environment:
  pypassword:
    secure: fYF+6TvQdqbg7u+c+NraAg==

  matrix:
    # For Python versions available on Appveyor, see
    # http://www.appveyor.com/docs/installed-software#python
    # The list here is complete (excluding Python 2.6, which
    # isn't covered by this document) at the time of writing.

    - PYTHON: "C:\\Python27"
    - PYTHON: "C:\\Python27-x64"

install:
  # We need wheel installed to build wheels
  - "%PYTHON%\\python.exe -m pip install --upgrade setuptools wheel twine"

after_test:
  # This step builds your wheels.
  # You need to use %PYTHON% to get the correct interpreter
  - "%PYTHON%\\python.exe setup.py bdist_wheel"
  - "%PYTHON%\\python.exe setup.py sdist"

build: off

on_success:
  - "%PYTHON%\\python.exe -m twine upload --skip-existing -u Safihre -p %pypassword% dist/*"
